@import "tailwindcss";

:root {
  --backgroundYellow: #FFC000;
  --colorTextInYellow: #0F0F0F;
  --colorTextInPurple: #eaeaea;
  --backgroundPurple: #9A6699;
  --foreground: #171717;
}

@theme inline {
  --color-yellow: var(--backgroundYellow);
  --color-purple: var(--backgroundPurple);
  --color-in-yellow-bg: var(--colorTextInYellow);
  --color-in-purple-bg: var(--colorTextInPurple);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Animations */

@keyframes marquee-up {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-50%);
  }
}

@keyframes marquee-down {
  from {
    transform: translateY(-50%);
  }

  to {
    transform: translateY(0);
  }
}

.animate-marquee-up {
  animation: marquee-up 30s linear infinite;
}

.animate-marquee-down {
  animation: marquee-down 30s linear infinite;
}

.animate-marquee-up:hover,
.animate-marquee-down:hover {
  animation-duration: 30s;
}